@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');


$main-font: "Roboto", sans-serif;
$sidebar-width: 35%;
$sidebar-bg-color: blur(5px);
$sidebar-hover-color: #575757;
$color: white;
$main-content-padding: 20px;